/* 勤怠詳細テーブル */

.table th{
    width: 30%;
    padding-left: 5%;
    vertical-align: middle;
    text-align: left;
}

.table td{
    width: 70%;
    vertical-align: middle;
    text-align: left;
    color: #000;
}

.table tr{
    height: 90px;
}

/* 各パーツ */

.data__date {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.group__time-input,
.group__time-area{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group__time-area{
    padding: 0 15px 0 3px;
}

.form-input {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    font-weight: bold;
    outline: none;
    transition: border-color 0.3s;
}

.time,.reason{
    font-weight: bold;
}

.form-input:focus {
    border-color: #737373;
}

input[type="time"].form-input {
    width: 25%;
    text-align: center;
}

input[type="time"].form-input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.adjust-width {
    width: 50%;
    padding: 5px 10px 35px;
    font-weight: bold;
}

/* ボタン */

.submit__button--disabled {
    color: #FF000080;
    font-size: 18px;
}

.disabled-btn{
    background-color: #737373;
    color: #fff;
}
