
.table th{
    width: 30%;
    padding-left: 5%;
    vertical-align: middle;
    text-align: left;
}

.table td{
    width: 70%;
    vertical-align: middle;
    text-align: left;
    color: #000;
}

.table tr{
    height: 90px;
}

.table tr:first-child{
    border-bottom: 2px solid #E1E1E1 !important;
}


/* --- 各パーツのスタイル --- */

/* 日付の横並び表示 */
.data__date {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

/* 時間入力の横並び（入力欄 〜 入力欄） */
.group__time-input ,.group__time-area{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group__time-area{
    padding: 0 15px 0 3px;
}

/* --- inputのデザイン --- */
.form-input {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    font-weight: bold;
    outline: none;
    transition: border-color 0.3s;
}

.time,.reason{
    font-weight: bold;
}

.form-input:focus {
    border-color: #737373;
}

/* 時間入力の幅調整 */
input[type="time"].form-input {
    width: 25%;
    text-align: center;
}

input[type="time"].form-input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.adjust-width {
    width: 50%;
    padding: 5px 10px 35px;
    font-weight: bold;
}

/* --- ボタンエリア --- */
.form-actions {
    text-align: right;
    margin-top: 30px;
}

.submit__button {
    padding: 8px 40px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.submit__button:hover {
    opacity: 0.8;
}

/* 承認待ちメッセージ */
.submit__button--disabled {
    color: #FF000080;
    font-size: 18px;
}
