
/* 月選択エリア */

.attendance-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: #fff;
}

.fa-solid {
    margin: 0 4px;
}

/* カレンダーアイコン */

.attendance__calendar {
    display: inline-block;
    position: relative;
    padding: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.attendance__calendar:hover {
    background-color: #f0f0f0;
}

.attendance-input-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.date-label {
    font-weight: bold;
    font-size: 18px;
}

/*  勤怠一覧テーブル  */

.table tr:first-child{
    border-bottom: 3px solid #E1E1E1 !important;
}

.table th,
.table td {
    padding: 15px;
    text-align: center;
}

.table tr .header__date{
    padding-left: 5%;
    text-align: left;
}

.header__date,
.header__name{
    width: 20%;
}

.header__work-start, .header__work-end,
.header__break, .header__work-total{
    width: 15%;
}

.header__detail{
    width: 20%;
}

/* CSVボタン */

.export__btn{
    padding: 5px 40px;
}
