/* 全体 */

.container {
    padding-top: 160px;
}

/* 勤務ステータス */

.attendance__status {
    display: inline-block;
    margin-bottom: 25px;
    padding: 6px 18px;
    border-radius: 20px;
    background: #C8C8C8;
    color: #696969;
    font-size: 18px;
    font-weight: bold;
}

/* 各パーツ */
.date {
    margin: 5px 0 15px;
    font-size: 40px;
    font-weight: 400;
}

#clock{
    margin: 40px 0 80px;
    font-size: 80px;
    font-weight: bold;
}

/* ボタン*/
form {
    display: flex;
    justify-content: center;
    gap:70px;
}

.attendance__btn {
    width: 220px;
    padding: 10px 0;
    font-size: 32px;
    font-weight: bold;
    border: none;
    border-radius: 14px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    letter-spacing:5px;
}

.attendance__btn:hover {
    opacity: 0.85;
}

.btn--white {
    background-color: #fff;
    color: #000;
}

.btn--white:hover {
    background-color: #f7f7f7;
}

/* 退勤済メッセージ */

.work-end__massage {
    margin-top: 120px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing:5px;
}
