/* 全体 */

body{
    background-color: #fff !important;
}

/* メインコンテンツ */

.auth__center{
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.auth__title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.entry__name{
    display: block;
    text-align: left;
    margin: 30px 0 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.input{
    width: 100%;
    height: 45px;
    padding: 5px;
}

.link{
    display: block;
    margin-top: 30px;
    text-align: center;
    color: #0073CC;
}

/* ボタン */

.auth__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 50px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

.auth__btn:hover{
    opacity: 0.8;
    transition: 0.2s;
}

.btn--big{
    margin-top: 60px;
    width: 100%;
    font-size: 20px;
}

/* エラーメッセージ */

.error-message{
    margin-top: 8px;
    text-align: left;
    color: #ff333f;
    font-size: 14px;
    font-weight: bold;
}
