/* 全体にかかるもの */

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    background-color: #F0EFF2;
}

img{
    width: 100%;
}

button{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    appearance: none;
}

/* ヘッダー */

header{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    height: 60px;
    padding: 0 30px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
}

.header__logo{
    vertical-align: middle;
    width: 250px;
    height: fit-content;
}

.header__nav{
    display: flex;
}

.header__nav ul{
    display: flex;
    align-items: center;
}

.header__nav li{
    margin-right: 30px;
}

.header__nav li:hover{
    font-weight: bold;
}

.header__logout{
    color: #fff;
    font-size: 16px;
}

.header__logout:hover{
    font-weight: bold;
}

/* メインコンテンツ */

.container{
    padding: 5%;
}

.center{
    width: 65%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.page__title{
    margin-bottom: 30px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding: 6px 0 6px 10px;
    border-left: 8px solid #000;
}

/* テーブル */

.table {
    width: 100%;
    padding-right: 20px;
    background-color: #fff;
    color: #737373;
    font-weight: bold;
    border-collapse: collapse;
    border-radius: 8px;
}

.table th,
.table td {
    border-bottom: 2px solid #E1E1E1;
}

.data__detail {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/* ボタン */

.form-actions {
    margin-top: 30px;
    text-align: right;
}

.submit__button {
    padding: 8px 40px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.submit__button:hover {
    opacity: 0.8;
}

/* エラーメッセージ */

.error-message{
    margin-top: 8px;
    color: #ff333f;
    font-size: 14px;
    font-weight: bold;
}

.error-massage__area{
    display: flex;
    justify-content: left;
}

.error-message2{
    margin: 8px 0;
    color: #ff333f;
    font-size: 14px;
    font-weight: bold;
}

/* レスポンシブ */

@media (min-width: 768px) and (max-width: 850px) {
    .header__logo {
        width: 25vw;
    }
}
