/* タブエリア */

.tabs {
    display: flex;
    gap: 100px;
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
    padding-left: 50px;
}

/* タブのボタン*/

.tab-button {
    padding-bottom: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.tab-button.active {
    margin-bottom: -1px;
    border-bottom: 2px solid #000;
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* 申請一覧テーブル */

.table tr:first-child{
    border-bottom: 3px solid #E1E1E1 !important;
}

.table th,
.table td {
    padding: 15px;
    text-align: left;
}

.table tr .header__status{
    padding-left: 5%;
}

.table tr .data_status{
    padding-left: 5%;
}

.header__status{
    width: 15%;
}

.header__name, .header__work-date,
.header__reason, .header__request-date{
    width: 14%;
}

.header__detail{
    width: 15%;
}

.data__reason{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* エラーメッセージ */

.empty-message{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
